{% extends 'base.html' %}
{% load static %}
{% block meta_description %}Centro educativo ubicado en Barrio Coocique en Ciudad Quesada{% endblock %}
{% block title %} <title>Ubicación</title> {% endblock %}
{% block content %}
    <main class="main-ubicacion">
        <h1 class="h1-ubicacion">¿Donde se ubica el CTPR de San Carlos?</h1>
        <p>Nuestra ubicación exacta es: <br> <span class="ubi">8HX9+JMR, Barrio Coocique, Provincia de Alajuela, Ciudad Quesada</span></p>
        <p>O bien puedes acceder directamente a nuestra dirección por el siguiente mapa</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15699.682963971067!2d-84.43527797259628!3d10.348222581806308!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa065788d08c29d%3A0x49f365ca72f2cbd2!2sColegio%20T%C3%A9cnico%20Profesional%20Regional%20de%20San%20Carlos!5e0!3m2!1ses-419!2scr!4v1684612364744!5m2!1ses-419!2scr" style="border:0; margin: auto;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </main>
{% endblock %}